body {
    font-family: 'Muli', sans-serif;
    padding: 20px;
  }
  
  h2 {
    margin-left: 30px;
  }
  
  #d3Example p {
    padding: 30px;
    font-size: 18px;
    text-align: justify;
  }
  
  a {
    margin-left: 30px;
  }
  
  svg {
    width: 100%;
    height: 500px;
    font: 10px sans-serif;
  }
  
  .y.axis path {
    display: none;
  }
  
  .y.axis line {
    stroke: #fff;
    stroke-opacity: .2;
    shape-rendering: crispEdges;
  }
  
  .y.axis .zero line {
    stroke: #000;
    stroke-opacity: 1;
  }
  
  .title {
    font: 300 78px Helvetica Neue;
    fill: #666;
  }
  
  .birthyear,
  .age {
    text-anchor: middle;
  }
  
  .birthyear {
    fill: #fff;
  }
  
  rect {
    fill-opacity: .6;
    fill: #e377c2;
  }
  
  rect:first-child {
    fill: #1f77b4;
  }
  
  #googleMapContainer {
    width: 100%;
    height: 500px;
    overflow: hidden;
    z-index: 0;
  }
  

  #over_map { 
    position: absolute; top: 100px; left: 500px; z-index: 99; 
  }

  button{
    margin: 0px 0px 0px 7px;
  }

  .nicebox {
    position: absolute;
    text-align: center;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 11px;
    z-index: 5;
    box-shadow: 0 4px 6px -4px #333;
    padding: 5px 10px;
    background: rgba(236, 236, 236, 1);
    
    
  }
  #controls {
    margin-top: 70px; margin-left: 28px;
  }
  
  #data-box2 {
    margin-top: 255px;
    margin-left: 28px;
    height: 30px;
    display: none;
    border-radius: 25px;
    
  }
  #data-box {
    margin-left: 28px;
    margin-top: 200px;
    height: 30px;
    display: none;
    border-radius: 25px;
  }
  #census-variable {
    width: 360px;
    height: 35px;
    margin-top: 70px; margin-left: 28px;
    z-index: 5;
    position: absolute;
  }
  #legend { display: flex; display: -webkit-box; padding-top: 7px;width: 370px; margin-top: 120px; z-index: 5; position: absolute;
    margin-left: 28px; background: white; border-radius: 25px;  }
  
  .color-key {
    background: linear-gradient(to right, rgba(255,0,99,1), rgba(255,0,99,0));
    flex: 1;
    -webkit-box-flex: 1;
    margin: 0 5px;
    text-align: left;
    font-size: 1.0em;
    line-height: 1.0em;
    display: flex;
    margin-bottom: 6px;
    border-radius: 25px;
    
    
  }
  .dropID{
    z-index: 1;

  }
  .census-min{
    padding-left: 5px;
  }
  .color-key2 {
    background: linear-gradient(to right, rgba(51,255,252,0), rgba(51,255,252,1));
    flex: 1;
    -webkit-box-flex: 1;
    margin: 0 5px;
    text-align: left;
    font-size: 1.0em;
    line-height: 1.0em;
    display: none;
    margin-bottom: 6px;
    border-radius: 25px;
    
  }
  .color-key3 {
    background: linear-gradient(to right,
      hsl(5, 69%, 54%) 0%,
      hsl(29, 71%, 51%) 17%,
      hsl(54, 74%, 47%) 33%,
      hsl(78, 76%, 44%) 50%,
      hsl(102, 78%, 41%) 67%,
      hsl(127, 81%, 37%) 83%,
      hsl(151, 83%, 34%) 100%);
    flex: 1;
    -webkit-box-flex: 1;
    margin: 0 5px;
    text-align: left;
    font-size: 1.0em;
    line-height: 1.0em;
    display: flex;
    margin-bottom: 6px;
    border-radius: 25px;
    
  }

  
  #data-value { font-size: 1.5em; font-weight: bold }
  #data-label { font-size: 1.5em; font-weight: normal; padding-right: 10px; }
  #data-value2 { font-size: 1.5em; font-weight: bold }
  #data-label2 { font-size: 1.5em; font-weight: normal; padding-right: 10px; }
  
  #data-caret { margin-left: -5px; display: none; font-size: 14px; width: 14px}

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animationload {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #fed37f none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}
.osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: #85d6de transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 80px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 80px;
}
@keyframes osahanloading {
0% {
    transform: rotate(0deg);
}
50% {
    background: #85d6de none repeat scroll 0 0;
    transform: rotate(180deg);
}
100% {
    transform: rotate(360deg);
}
}

  