body {
    font-family: 'Muli', sans-serif;
    padding: 20px;
  }
  
  h2 {
    margin-left: 30px;
  }
  
  #d3Example p {
    padding: 30px;
    font-size: 18px;
    text-align: justify;
  }
  
  a {
    margin-left: 30px;
  }
  
  svg {
    width: 100%;
    height: 500px;
    font: 10px sans-serif;
  }
  
  .y.axis path {
    display: none;
  }
  
  .y.axis line {
    stroke: #fff;
    stroke-opacity: .2;
    shape-rendering: crispEdges;
  }
  
  .y.axis .zero line {
    stroke: #000;
    stroke-opacity: 1;
  }
  
  .title {
    font: 300 78px Helvetica Neue;
    fill: #666;
  }
  
  .birthyear,
  .age {
    text-anchor: middle;
  }
  
  .birthyear {
    fill: #fff;
  }
  
  rect {
    fill-opacity: .6;
    fill: #e377c2;
  }
  
  rect:first-child {
    fill: #1f77b4;
  }
  
  #googleMapContainer {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  

  #over_map { 
    position: absolute; top: 100px; left: 500px; z-index: 99; 
  }

  button{
    margin: 0px 0px 0px 7px;
  }

  .nicebox {
    position: absolute;
    text-align: center;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 13px;
    z-index: 5;
    box-shadow: 0 4px 6px -4px #333;
    padding: 5px 10px;
    background: rgb(255,255,255);
    background: linear-gradient(to bottom,rgba(255,255,255,1) 0%,rgba(245,245,245,1) 100%);
    border: rgb(229, 229, 229) 1px solid;
  }
  #controls {
    margin-top: 2%; margin-left: 2%;
  }
  #data-box {
    margin-top: 2%;
    margin-left: 32%;
    height: 45px;
    line-height: 45px;
    display: none;
    
  }
  #data-box2 {
    margin-left: 2%;
    margin-top: 8%;
    height: 45px;
    line-height: 45px;
    display: none;
    
  }
  #census-variable {
    width: 360px;
    height: 20px;
  }
  #legend { display: flex; display: -webkit-box; padding-top: 7px }
  .color-key {
    background: linear-gradient(to right,
      hsl(5, 69%, 54%) 0%,
      hsl(29, 71%, 51%) 17%,
      hsl(54, 74%, 47%) 33%,
      hsl(78, 76%, 44%) 50%,
      hsl(102, 78%, 41%) 67%,
      hsl(127, 81%, 37%) 83%,
      hsl(151, 83%, 34%) 100%);
    flex: 1;
    -webkit-box-flex: 1;
    margin: 0 5px;
    text-align: left;
    font-size: 1.0em;
    line-height: 1.0em;
  }

  
  #data-value { font-size: 2.0em; font-weight: bold }
  #data-label { font-size: 2.0em; font-weight: normal; padding-right: 10px; }
  #data-value2 { font-size: 2.0em; font-weight: bold }
  #data-label2 { font-size: 2.0em; font-weight: normal; padding-right: 10px; }
  #data-label:after { content: ':' }
  #data-label2:after { content: ':' }
  #data-caret { margin-left: -5px; display: none; font-size: 14px; width: 14px}

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animationload {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #fed37f none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}
.osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: #85d6de transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 80px;
    left: -15px;
    position: absolute;
    top: -15px;
    width: 80px;
}
@keyframes osahanloading {
0% {
    transform: rotate(0deg);
}
50% {
    background: #85d6de none repeat scroll 0 0;
    transform: rotate(180deg);
}
100% {
    transform: rotate(360deg);
}
}

  